body {
	margin: 0;
	font-family: 'Inconsolata', monospace,
	'Playfair Display', serif,
	'Ubuntu', sans-serif;

	font-size: 15px;
	line-height: 1.6;
	color: #333;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

hr {
	display: block;
	width: 100%;
	height: 1px;
	margin: 40px 0;

	border: 0;
	background-color: #e5e5e5;
}

.container {
	width: 100%;
	max-width: 1060px;
	padding: 15px;
	margin: 0 auto;
}

/*HEADER*/
.header {
	width: 100%;

	padding-top: 30px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	font-size: 30px;
	color: #000;
}

/*NAV*/
.nav {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	font-family: 'Playfair Display', serif;
}

.nav__link {
	display: inline-block;
	vertical-align: top;
	margin: 0 45px;
	margin-right: 0px;
	position: relative;

	color: #7c7c7c;
	text-decoration: none;

	transition: color .1s linear;
}

/*INTRO*/
.intro {
	padding: 150px;
	padding-bottom: 0px;
}

.intro__inner {
	display: flex;
	justify-content: center;
}

.intro__img {
	width: 100%;
}

.intro__header {
	justify-content: center;
	margin: 80px;
	margin-bottom: 0;
}

.intro__suptitle {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	color: #c8c3b8;
	text-transform: uppercase;

	padding: 0 0 15px;
}

.intro__title {
	font-family: 'Playfair Display', serif;
}

.intro__title h1{
	color: #626262;
	font-size: 30px;
}

.intro__title p {
	font-size: 14px;
	color: #898989;
	padding: 0 0 25px;
	font-weight: 700;
}


/*CARD*/
.card {
	padding-top: 80px;
	margin: 0 80px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.card__item {
	width: 44%;
}

.card__inner {
	position: relative;
	padding: 0 0 110px;
}

.card__img {
	width: 100%;
	padding: 0 0 20px;
}

.card__text h3 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	color: #c8c3b8;
	padding: 0 0 20px;
	text-transform: uppercase;
}

.card__text h1 {
	font-family: 'Playfair Display', serif;
	font-size: 28px;
	color: #626262;
	padding: 0 0 20px;
}

.card__text p {
	font-size: 14px;
	font-family: 'Playfair Display', serif;
	color: #898989;
	font-weight: 700;
}

.card__btn {
	text-align: center;
	padding: 90px;
	padding-bottom: 500px;
}

.btn {
	display: inline-block;
	padding: 8px 30px;
	border: 1px solid #c8c3b8;
	font-size: 20px;
	color: #c8c3b8;
	font-family: 'Playfair Display', serif;
	text-decoration: none;
	text-align: center;
}


/*SLETTER*/
.sletter {
	background-color: #f0f0f0;
	padding: 40px;
	font-family: 'Playfair Display', serif;
}

.sletter__inner {
	font-size: 30px;
	color: #333;
	text-align: center;
	padding-bottom: 50px;
}

.sletter__header {
	font-size: 14px;
	color: #b5b5b5;
	margin: 0 335px;
	border-bottom: 1px solid #000;

	padding-bottom: 10px;
}

.sletter__header a {
	margin-left: 160px;
	color: #b5b5b5;
	font-size: 20px;
}


/*END*/
.end {
	background-color: #f0f0f0;
	padding: 10px;
}

.end__text {
	font-family: 'Playfair Display', serif;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
	color: #838383;
}

.end__text a {
	font-size: 15px;
	color: #838383;
}

.end__term {
	margin-left: 80px;
}

.end__priv {
	margin-right: 600px;
}
















